#### Exercise 1.1

##### Read in the meteorite data from the `Meteorite_Landings.csv` file, rename the `mass (g)` column to `mass`, and drop all the latitude and longitude columns. Sort the result by mass in descending order.

In [ ]:
import pandas as pd

df = pd.read_csv('/Meteorite_Landings.csv')
df = df.rename(columns = {'mass (g)': 'mass'})
df = df.drop(columns=['reclat', 'reclong'])

pandas is a library for data manipulation and analysis.

The code below is alternative with url:

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/MPBagger/data-science-project/main/notebooks/solutions/data/Meteorite_Landings.csv"
df = pd.read_csv(url)

# Now you can work with the DataFrame 'df'
print(df.head())  # Display the first few rows to check raw.githubusercontent.com

       name   id nametype     recclass  mass (g)  fall  \
0    Aachen    1    Valid           L5      21.0  Fell
1    Aarhus    2    Valid           H6     720.0  Fell
2      Abee    6    Valid          EH4  107000.0  Fell
3  Acapulco   10    Valid  Acapulcoite    1914.0  Fell
4   Achiras  370    Valid           L6     780.0  Fell

                     year    reclat    reclong           GeoLocation
0  01/01/1880 12:00:00 AM  50.77500    6.08333     (50.775, 6.08333)
1  01/01/1951 12:00:00 AM  56.18333   10.23333  (56.18333, 10.23333)
2  01/01/1952 12:00:00 AM  54.21667 -113.00000    (54.21667, -113.0)
3  01/01/1976 12:00:00 AM  16.88333  -99.90000     (16.88333, -99.9)
4  01/01/1902 12:00:00 AM -33.16667  -64.95000   (-33.16667, -64.95)

In [ ]:
print(df.head())  # Shows the first 5 rows

       name   id nametype     recclass      mass  fall  \
0    Aachen    1    Valid           L5      21.0  Fell
1    Aarhus    2    Valid           H6     720.0  Fell
2      Abee    6    Valid          EH4  107000.0  Fell
3  Acapulco   10    Valid  Acapulcoite    1914.0  Fell
4   Achiras  370    Valid           L6     780.0  Fell

                     year           GeoLocation
0  01/01/1880 12:00:00 AM     (50.775, 6.08333)
1  01/01/1951 12:00:00 AM  (56.18333, 10.23333)
2  01/01/1952 12:00:00 AM    (54.21667, -113.0)
3  01/01/1976 12:00:00 AM     (16.88333, -99.9)
4  01/01/1902 12:00:00 AM   (-33.16667, -64.95)

This gives a quick preview of the dataset.

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass         45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  object
 7   GeoLocation  38401 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 2.8+ MB
None

Displays column names, data types, and the number of non-null values.

In [ ]:
print(df.isnull().sum())

name              0
id                0
nametype          0
recclass          0
mass            131
fall              0
year            291
GeoLocation    7315
dtype: int64

Check for Missing Values

In [ ]:
assert type(df) == pd.core.frame.DataFrame
assert 'mass' in df.columns
assert 'reclong' not in df.columns
assert 'reclat' not in df.columns

Exercise-1.2

Using the meteorite data from the Meteorite_Landings.csv file, update the year column to only contain the year, convert it to a numeric data type, and create a new column indicating whether the meteorite was observed falling before 1970. Set the index to the id column and extract all the rows with IDs between 10,036 and 10,040 (inclusive) with loc[].

Hint 1: Use year.str.slice() to grab a substring.

Hint 2: Make sure to sort the index before using loc[] to select the range.

Bonus: There's a data entry error in the year column. Can you find it? (Don't spend too much time on this.)

In [42]:
url = "https://raw.githubusercontent.com/MPBagger/data-science-project/main/notebooks/solutions/data/Meteorite_Landings.csv"
df = pd.read_csv(url)
print(df.head())

       name   id nametype     recclass  mass (g)  fall  \
0    Aachen    1    Valid           L5      21.0  Fell
1    Aarhus    2    Valid           H6     720.0  Fell
2      Abee    6    Valid          EH4  107000.0  Fell
3  Acapulco   10    Valid  Acapulcoite    1914.0  Fell
4   Achiras  370    Valid           L6     780.0  Fell

                     year    reclat    reclong           GeoLocation
0  01/01/1880 12:00:00 AM  50.77500    6.08333     (50.775, 6.08333)
1  01/01/1951 12:00:00 AM  56.18333   10.23333  (56.18333, 10.23333)
2  01/01/1952 12:00:00 AM  54.21667 -113.00000    (54.21667, -113.0)
3  01/01/1976 12:00:00 AM  16.88333  -99.90000     (16.88333, -99.9)
4  01/01/1902 12:00:00 AM -33.16667  -64.95000   (-33.16667, -64.95)

In [43]:
df['year'] = df['year'].str.slice(start=6, stop=10)
df['year'] = pd.to_numeric(df['year'])
df['before_1970'] = df['year'] < 1970  # Boolean column (True if before 1970, False otherwise)
df.set_index('id', inplace = True) #choosing index
df = df.sort_index() #asc order

In [44]:
print(df.head())

      name nametype recclass  mass (g)   fall    year    reclat    reclong  \
id
1   Aachen    Valid       L5      21.0   Fell  1880.0  50.77500    6.08333
2   Aarhus    Valid       H6     720.0   Fell  1951.0  56.18333   10.23333
4    Abajo    Valid       H5     331.0  Found  1982.0  26.80000 -105.41667
5   Abbott    Valid     H3-6   21100.0  Found  1951.0  36.30000 -104.28333
6     Abee    Valid      EH4  107000.0   Fell  1952.0  54.21667 -113.00000

             GeoLocation  before_1970
id
1      (50.775, 6.08333)         True
2   (56.18333, 10.23333)         True
4     (26.8, -105.41667)        False
5     (36.3, -104.28333)         True
6     (54.21667, -113.0)         True

In [47]:
subset = df.loc[10036:10040]

In [48]:
assert df.year.dtype == 'float64'
assert df.index.name == 'id'
subset = subset.rename(columns = {'mass (g)': 'mass'})
assert subset.mass.mean() == 33964.25

#### Exercise-1.3

##### Using the meteorite data from the `Meteorite_Landings.csv` file, create a pivot table that shows both the number of meteorites and the 95th percentile of meteorite mass for those that were found versus observed falling per year from 2005 through 2009 (inclusive).

Hint 1: Be sure to convert the `year` column to a number as we did in the previous exercise.

Hint 2: There are missing values on mass.

In [ ]:
import numpy as np

df = #

df_pivoted = #

In [ ]:
assert df_pivoted.loc[2006][0] == 2456
assert int(df_pivoted.loc[2006][1]) == 1722